<a href="https://colab.research.google.com/github/KIQVinicius/Curso-Python/blob/master/Aula_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Números e Operações Matemáticas

In [2]:
print(1+1)

2

In [3]:
print(3-2)

1

In [ ]:
print(2*3)

6

In [ ]:
print(10/2)

5.0

In [ ]:
print(5%2)

1

In [ ]:
print(4**2)

16

In [ ]:
print(int(3.3))

3

In [ ]:
print(float(2))

2.0

# Operadores Lógicos

In [4]:
1==1

True

In [5]:
2!=1

True

In [6]:
"Exemplo"!="exemplo"

True

In [7]:
2>1

True

In [8]:
2<1

False

In [9]:
2>=4

False

In [10]:
1<=4

True

# Variaveis

In [11]:
A = 2

In [12]:
B=4.1

In [13]:
A+B

6.1

In [14]:
C="Teste"

In [15]:
C*A

'TesteTeste'

In [16]:
C+A

TypeError: ignored

In [ ]:
C+str(A)

'Teste2'

In [ ]:
type(C)

str

In [ ]:
type(A)

int

In [ ]:
type(B)

float

In [ ]:
D=5

In [ ]:
D +=A
D

9

## Trabalhando com Strings(Texto)

In [ ]:
texto = "T-Systems"

In [ ]:
texto[:3]

'T-S'

In [ ]:
texto[3:]

'ystems'

In [ ]:
texto[3:5]

'ys'

In [ ]:
texto_invertido = texto[::-1]

In [ ]:
texto.find("-")

1

In [ ]:
texto_invertido.find("-")

7

In [ ]:
texto_condatenado = texto_invertido + texto
texto_condatenado

'smetsyS-TT-Systems'

In [ ]:
texto[2]

'S'

##Atribuição de Variavel

In [ ]:
A = 1

In [ ]:
A,B = 3,5

In [ ]:
A

3

In [ ]:
B

5

In [ ]:
C = 1 if A==1 else B

In [ ]:
C

5

In [ ]:
"python".find("t")

2

In [ ]:
texto = "Olá\nPessoal"
texto_raw = r"Olá\nPessoal"

In [ ]:
print(texto)

Olá
Pessoal

In [ ]:
print(texto_raw)

Olá\nPessoal

In [ ]:
"Olá" in texto

True

In [ ]:
"T-Systems" in texto

False

In [ ]:
"     texto"

'     texto'

In [ ]:
"     texto".strip()

'texto'

#Estruturas de Dados

In [ ]:
lista = [1, 2, 3, 4]

In [ ]:
lista

[1, 2, 3, 4]

In [ ]:
tupla = (1, 2, 3,4, 5)

In [ ]:
tupla

(1, 2, 3, 4, 5)

In [ ]:
lista[1] = 7
print(lista)

[1, 7, 3, 4]

In [ ]:
tupla[2] = 1

TypeError: ignored

In [ ]:
dicionario = {"A":1, "B":2, "C":3}

In [ ]:
dicionario

{'A': 1, 'B': 2, 'C': 3}

In [ ]:
dicionario["A"]

1

In [ ]:
print(dicionario.keys())
print(dicionario.items())
print(dicionario.values())

dict_keys(['A', 'B', 'C'])
dict_items([('A', 1), ('B', 2), ('C', 3)])
dict_values([1, 2, 3])

In [ ]:
dicionario["A"] = "B"

In [ ]:
dicionario

{'A': 'B', 'B': 2, 'C': 3}

In [ ]:
matriz = [[1,2,3], [3,2,1], ['A', 'B','C']]

In [ ]:
matriz

[[1, 2, 3], [3, 2, 1], ['A', 'B', 'C']]

In [ ]:
matriz = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
matriz[0][2]

3

In [ ]:
if "A" == "B":
  print("A = B")
elif "A" == "C":
  print("A = C")
else:
  print("A != B e C")

A != B e C

In [ ]:
A = 0
while A < 10:
  print(A)
  A+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
A =0
while A <= 10:
  print(A)
  A+=1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for valor in lista:
  print(valor)

1
7
3
4

In [ ]:
for chave in dicionario:
  print(chave)

A
B
C

In [ ]:
for valor in dicionario.values():
  print(valor)

B
2
3

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(8,10):
  print(i)

8
9

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

#Funções

In [ ]:
def Somar(x, y):
  return x+y

In [ ]:
Somar(1,2)

3

In [ ]:
def Numeros(x,y):
  z = x + y 
  w = x * y
  return z, w

In [ ]:
a, b = Numeros(1,7)

In [ ]:
a

8

In [ ]:
b

7

#Pandas

In [ ]:
import pandas as pd

In [ ]:
dados = {"Nome":["Kaique", "Rafael", "Augusto"], "Idade":[21, 23, 50], 
         "Cidade":['SBC', "SP", "SC"]}

In [ ]:
df = pd.DataFrame(dados)

In [ ]:
df

      Nome  Idade Cidade
0   Kaique     21    SBC
1   Rafael     23     SP
2  Augusto     50     SC

In [ ]:
df['Nome']

0     Kaique
1     Rafael
2    Augusto
Name: Nome, dtype: object

In [ ]:
df.columns

Index(['Nome', 'Idade', 'Cidade'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    3 non-null      object
 1   Idade   3 non-null      int64
 2   Cidade  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [ ]:
df.describe()

           Idade
count   3.000000
mean   31.333333
std    16.196707
min    21.000000
25%    22.000000
50%    23.000000
75%    36.500000
max    50.000000

In [ ]:
df['Telefone'] = [123, 321, 456]

In [ ]:
df.head(2)

     Nome  Idade Cidade  Telefone
0  Kaique     21    SBC       123
1  Rafael     23     SP       321

In [ ]:
df.tail(1)

      Nome  Idade Cidade  Telefone
2  Augusto     50     SC       456

In [ ]:
df

      Nome  Idade Cidade  Telefone
0   Kaique     21    SBC       123
1   Rafael     23     SP       321
2  Augusto     50     SC       456

In [ ]:
df = df.append({"Nome":"Danilo", "Idade":35, 
         "Cidade":'SBC', "Telefone":543}, ignore_index=True)

In [ ]:
pd.DataFrame(df.groupby('Cidade'))

     0                                                  1
0  SBC       Nome  Idade Cidade  Telefone
0  Kaique   ...
1   SC        Nome  Idade Cidade  Telefone
2  Augusto ...
2   SP       Nome  Idade Cidade  Telefone
1  Rafael   ...

In [ ]:
dates = pd.date_range('20130101', periods=6)

In [ ]:
df.dtypes

Nome        object
Idade        int64
Cidade      object
Telefone     int64
dtype: object

In [ ]:
df[df['Cidade']=="SBC"]

     Nome  Idade Cidade  Telefone
0  Kaique     21    SBC       123
3  Danilo     35    SBC       543

In [ ]:
df[df['Cidade']!="SBC"]

      Nome  Idade Cidade  Telefone
1   Rafael     23     SP       321
2  Augusto     50     SC       456

In [ ]:
df.query("Cidade == 'SBC'")

     Nome  Idade Cidade  Telefone
0  Kaique     21    SBC       123
3  Danilo     35    SBC       543

In [ ]:
df = df.append({"Nome":"Carlos", "Idade":35, 
         "Cidade":None, "Telefone":543}, ignore_index=True)

In [ ]:
df

      Nome  Idade Cidade  Telefone
0   Kaique     21    SBC       123
1   Rafael     23     SP       321
2  Augusto     50     SC       456
3   Danilo     35    SBC       543
4   Carlos     35   None       543

In [ ]:
df.dropna()

      Nome  Idade Cidade  Telefone
0   Kaique     21    SBC       123
1   Rafael     23     SP       321
2  Augusto     50     SC       456
3   Danilo     35    SBC       543