<a href="https://colab.research.google.com/github/KIQVinicius/Curso-Python/blob/master/Aula_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Zen do Python

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Números e Operações Matemáticas

In [1]:
print(1+1)

2

In [2]:
print(3-2)

1

In [3]:
print(2*3)

6

In [4]:
print(10/2)

5.0

In [ ]:
#Resto da divisão
print(5%2)

1

In [6]:
#Exporencial
print(4**2)

16

In [7]:
print(int(3.3))

3

In [12]:
print(float(2.1234566))

2.1234566

# Operadores Lógicos

In [14]:
1==1

True

In [15]:
2!=1

True

In [16]:
"Exemplo"!="exemplo"

True

In [20]:
2>1

True

In [21]:
2<1

False

In [22]:
2>=4

False

In [23]:
1<=4

True

# Variaveis

In [26]:
A = 2
print(type(A))

<class 'int'>

In [27]:
B = 4.1
print(type(B))

<class 'float'>

In [28]:
A+B

6.1

In [30]:
C="Teste"
print(type(C))

<class 'str'>

In [ ]:
C*5

'TesteTesteTesteTesteTeste'

In [31]:
C + A

TypeError: ignored

In [32]:
C + str(A)

'Teste2'

In [33]:
type(C)

str

In [34]:
type(A)

int

In [35]:
type(B)

float

In [36]:
D=5

In [37]:
D +=A
print(D)

7

## Trabalhando com Strings(Texto)

In [48]:
texto = "T-Systems"

In [49]:
texto[0:3]

'T-S'

In [50]:
texto[3:]

'ystems'

In [51]:
texto[0:10]

'T-Systems'

In [54]:
texto_invertido = texto[::-1]
print(texto_invertido)

smetsyS-T

In [ ]:
texto.find("-")

1

In [55]:
texto_invertido.find("-")

7

In [56]:
texto_condatenado = texto_invertido + texto
print(texto_condatenado)

smetsyS-TT-Systems

In [ ]:
texto[2]

'S'

##Atribuição de Variavel

In [57]:
A = 1

In [58]:
A,B = 3,5

In [59]:
A

3

In [60]:
B

5

In [62]:
C = 2 if A==1 else B

In [63]:
C

5

In [ ]:
"python".find("t")

2

In [75]:
texto = "Olá\nPessoal {} asdas {}".format("v", "f")
texto_raw = r"Olá\nPessoal"

In [76]:
print(texto)

Olá
Pessoal v asdas f

In [77]:
print(texto_raw)

Olá\nPessoal

In [79]:
"Olá" in texto

True

In [80]:
"T-Systems" in texto

False

In [ ]:
"     texto"

'     texto'

In [81]:
"     texto".strip()

'texto'

#Estruturas de Dados

In [82]:
lista = [1, 2, 3, 4]

In [83]:
lista

[1, 2, 3, 4]

In [86]:
tupla = (1, 2, 3,4, 5)

In [87]:
tupla

(1, 2, 3, 4, 5)

In [88]:
lista[1] = 7
print(lista)

[1, 7, 3, 4]

In [89]:
tupla[2] = 1

TypeError: ignored

In [91]:
dicionario = {"A":1, "B":2, "C":3}

In [92]:
dicionario

{'A': 1, 'B': 2, 'C': 3}

In [95]:
dicionario["B"]

2

In [97]:
print(dicionario.keys())

dict_keys(['A', 'B', 'C'])

In [99]:
print(dicionario.items())

dict_items([('A', 1), ('B', 2), ('C', 3)])

In [100]:
print(dicionario.values())

dict_values([1, 2, 3])

In [102]:
dicionario["A"] = "d"

In [103]:
dicionario

{'A': 'd', 'B': 2, 'C': 3}

In [104]:
matriz = [[1,2,3], [3,2,1], ['A', 'B','C']]

In [ ]:
matriz

[[1, 2, 3], [3, 2, 1], ['A', 'B', 'C']]

In [ ]:
matriz = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
matriz[0][2]

3

# Condicionais e Loop

In [109]:
if "A" == "B":
  print("A = B")
elif "A" == "C":
  print("A = C")
else:
  print("A != B e C")

A != B e C

In [110]:
A = 0
while A < 10:
  print("A = " + str(A))
  A+=1

A = 0
A = 1
A = 2
A = 3
A = 4
A = 5
A = 6
A = 7
A = 8
A = 9

In [111]:
A =0
while A <= 10:
  print(A)
  A+=1
lista

0
1
2
3
4
5
6
7
8
9
10

[1, 7, 3, 4]

In [ ]:
for valor in lista:
  print("Valor da lista = " + str(valor))

Valor da lista = 1
Valor da lista = 7
Valor da lista = 3
Valor da lista = 4

In [115]:
for chave in dicionario:
  print("Chave = " + str(chave))
dicionario

Chave = A
Chave = B
Chave = C

{'A': 'd', 'B': 2, 'C': 3}

In [114]:
for valor in dicionario.values():
  print("Valor = " + str(valor))

Valor = d
Valor = 2
Valor = 3

In [118]:
for abacate in range(10):
  print("I = " + str(abacate))

I = 0
I = 1
I = 2
I = 3
I = 4
I = 5
I = 6
I = 7
I = 8
I = 9

In [116]:
list(range(19))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [ ]:
for i in range(0,10,1):
  print("I = " + str(i))

I = 8
I = 9

In [121]:
# range(inicio, fim, intervalo)
for i in range(0,10,3):
  print("I = " + str(i))

I = 0
I = 3
I = 6
I = 9

#Funções

In [122]:
def Somar(x, y):
  return x+y

In [123]:
Somar(1,2)

3

In [125]:
def Numeros(x,y):
  z = x + y 
  w = x * y
  return z, w

In [126]:
z, w = Numeros(1,7)

In [127]:
z

8

In [128]:
w

7

#Pandas

In [129]:
import pandas as pd

In [159]:
dados = {"Nome":["Kaique", "Rafael", "Augusto"], "Idade":[21, 23, 30], 
         "Cidade":['SBC', "SP", "SC"]}

In [160]:
df = pd.DataFrame(dados)

In [146]:
df['Nome']

0     Kaique
1     Rafael
2    Augusto
Name: Nome, dtype: object

In [164]:
teste = df.query("Nome =='Kaique' or Nome == 'Augusto'")
teste = teste.reset_index()
teste = teste[['Idade', 'Nome', 'Cidade']]
teste

   Idade     Nome Cidade
0     21   Kaique    SBC
1     30  Augusto     SC

In [161]:
list(df['Nome'])

['Kaique', 'Rafael', 'Augusto']

In [162]:
dict(df['Nome'])

{0: 'Kaique', 1: 'Rafael', 2: 'Augusto'}

In [163]:
teste.columns = df.columns

Index(['Nome', 'Idade', 'Cidade'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    3 non-null      object
 1   Idade   3 non-null      int64
 2   Cidade  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [165]:
df.describe().round(2)

       Idade
count   3.00
mean   24.67
std     4.73
min    21.00
25%    22.00
50%    23.00
75%    26.50
max    30.00

In [166]:
df['Telefone'] = ['1234-3214', '3214-1234', '4563-5432']

In [168]:
df.head(2)

     Nome  Idade Cidade   Telefone
0  Kaique     21    SBC  1234-3214
1  Rafael     23     SP  3214-1234

In [169]:
df.tail(2)

      Nome  Idade Cidade   Telefone
1   Rafael     23     SP  3214-1234
2  Augusto     30     SC  4563-5432

In [170]:
df

      Nome  Idade Cidade   Telefone
0   Kaique     21    SBC  1234-3214
1   Rafael     23     SP  3214-1234
2  Augusto     30     SC  4563-5432

In [171]:
df = df.append({"Nome":"Danilo", "Idade":35, 
         "Cidade":'SBC', "Telefone":'5431-3451'}, ignore_index=True)

In [176]:
pd.DataFrame(df.groupby('Cidade')['Idade'].mean())

        Idade
Cidade
SBC        28
SC         30
SP         23

In [ ]:
df.dtypes

Nome        object
Idade        int64
Cidade      object
Telefone    object
dtype: object

In [178]:
df[df['Cidade']=="SBC"]

     Nome  Idade Cidade   Telefone
0  Kaique     21    SBC  1234-3214
3  Danilo     35    SBC  5431-3451

In [179]:
df[df['Cidade']!="SBC"]

      Nome  Idade Cidade   Telefone
1   Rafael     23     SP  3214-1234
2  Augusto     30     SC  4563-5432

In [180]:
df.query("Cidade == 'SBC'")

     Nome  Idade Cidade   Telefone
0  Kaique     21    SBC  1234-3214
3  Danilo     35    SBC  5431-3451

In [184]:
df = df.append({"Nome":"Carlos", "Idade":43, 
         "Cidade":None, "Telefone":543}, ignore_index=True)

In [185]:
df

      Nome  Idade Cidade   Telefone
0   Kaique     21    SBC  1234-3214
1   Rafael     23     SP  3214-1234
2  Augusto     30     SC  4563-5432
3   Danilo     35    SBC  5431-3451
4   Carlos     35   None        543
5   Carlos     35   None        543
6   Carlos     43   None        543

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nome      7 non-null      object
 1   Idade     7 non-null      int64
 2   Cidade    4 non-null      object
 3   Telefone  7 non-null      object
dtypes: int64(1), object(3)
memory usage: 352.0+ bytes

In [192]:
df.dropna(inplace=True)
df = df.dropna()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [193]:
df

      Nome  Idade Cidade   Telefone
0   Kaique     21    SBC  1234-3214
1   Rafael     23     SP  3214-1234
2  Augusto     30     SC  4563-5432
3   Danilo     35    SBC  5431-3451

In [ ]:
select * from A
inner join B
on A.Rg = B.Rg